.addWebinarForm {
    width: 40rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: absolute;
    background-color: rgba(255, 250, 250, 0.92);
    border: 2px solid #fe9344;
    border-radius: 2rem;
}

.formTitle {
    padding: 0 1rem 0 1rem;
}

.closeFormIcon {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}

.formTitleBlock,
.formSubtopicBlock,
.formImageBlock {
    padding: 0 1rem 0 1rem;
}

.addWebinarTitle {
    max-width: 100%;
    min-width: 100%;
    max-height: 4rem;
    min-height: 4rem;
}


.formTopicInputBlock {
    display: flex;
    width: 50%;
}

.addedTopicsList li:not(:last-child),
.addedTopicsList li:first-child {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.removeTopic {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: large;
}

.formSubmitBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formSubmitBlock input,
.formImageBlock input {
    width: 100%;
}

.formErr {
    color: red;
}

.formSuccess {
    color: green;
}
