.dropdown-menu {
  border: 2px solid #ffdfc9;
  width: 200px;
  position: absolute;
  top: 96px;
  list-style: none;
  text-align: start;
  z-index: 1;
}

.dropdown-menu li {
  background: white;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #fff8e3;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 16px;
}

/*@media (max-width: 1000px) {*/
/*  .fa-caret-down {*/
/*    display: none;*/
/*  }*/
/*}*/
