* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.links {
  text-decoration: none;
  color: inherit;
}

/**/

.buttons {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background: linear-gradient(
          305deg, #fe9344, #fecd20);
}

.buttons:hover {
  background-image: linear-gradient(
          100deg,#fecd20 60%,#fe9344);
}

/**/
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
